html {
    background-color: #fefefe
}

body {
    font-family: Open Sans, Arial;
    color: #454545;
    font-size: 16px;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}

.st {
    margin-top: -1em;
}
a {
    color: #07a
}

a:visited {
    color: #941352
}

.mfw {
    color: #730000;
}

.wr {
    color: #c0392b;
    font-weight: 600;
    text-decoration: underline;
}

small {
    font-size: 0.4em;
}

.colored {
      -webkit-animation: colorchange 2s infinite alternate; /* Chrome and Safari */
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    { 
        0% { color: rgb(255,71,255); }
        50% { color: rgb(71,255,255); }
        100% { color: rgb(255,255,71); }
    }

.sb {
    cursor: not-allowed;
    color: #00e;
}

.js-logo, .css-logo , .html-logo {
    height: 1em;
}

.fakepre {
    font-family: monospace;
    font-size: .9em;
}

.foufoufou {
    color: #444;
    font-weight: 700;
}

.foufivfoufivfoufiv {
    color: #454545;
    font-weight: 700;
}

.foufivfoufivfoufiv:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #454545;
}

.foufoufou:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #444;
}
    
.fancyPositioning {
    display: flex;
}
.picture-left {
    flex: 4;
    margin-right: 15px;
}

.tleft {
    flex: 6;
}
.picture-left img {
    width: 100%;
}

.caption {
    font-size: .7em;
}

.tleft p:first-child {
    margin-top: 0;
}

blockquote {
    color: #456;
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

blockquote:before {
    font-family: Times New Roman,Times,Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem;
}    

blockquote span {
    float: left;
    margin-left: 1rem;
    padding-top: 1rem;
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique;
}

blockquote author:before {
    content: "- ";
    margin-right: 1em;
}

a.kopimi, img.kopimi {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.kopimi {
    height: 2em;
}

#contrast, #invmode {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: .8em;
    text-decoration: underline;
}

#contrast {
    color: #000;
    top: 10px;
}

#invmode {
    color: #fff;
    background-color: #000;
    top: 34px;
    padding: 2px 5px;
}